  
### 파이썬에서 데이터분석을 하기 위한 필수 library
#### (1) pandas   
    - 2008 금융데이터 분석용으로 출발
    - 통계와 데이터과학, 머신러닝에서 사용
#### (2) numpy
    - 파이썬 기반 수치해석(Numerical method)
    - 선형대수(Linear Algebra) 연산에 필요한 다차원 배열과 배열연산을 수행하는 다양한 함수를 제공
#### (3) matplotlib
    - 그래픽이나 차트등을 그래픽으로 표현하는 파이썬 시각화 도구
#### (4) scikit-learn
    - 머신러닝 학습을 위한 파이썬 라이브러리
    - 회귀분석(주관식), 분류(객관식), 군집(카테고리분류)

---

#### pandas / numpy
pandas/numpy는 고급 데이터 분석과 수치계산등의 기능을 제공하는 확장 모듈
numpy는 수치계산을 효율적으로 하기위한 모듈로 다차원 배열과 고수준의 수학함수를 제공
pandas는 테이블 분석 기능을 제공하는 라이브러리로 csv, xlsx 등의 데이터를 읽고 원하는 형식으로 변환가능

----

#### pandas는 csv, xlsx 등의 데이터를 DataFrame (데이터형식)로 변환해 분석후 다시 원하는 데이터형식으로 보여줌
    - DataFrame은 pandas에서 사용하는 기본 데이터
    - 데이터프레임을 정의할 대는 2차원 리스트를 전달받는다.

----
###  pandas를 이용하여 DataFrame 만들기

In [1]:
# pandas 블러오기
import pandas as pd

In [2]:
# 행방향으로 DataFrame 만들기 : List ex) a = [1,2,3] -> a[0] = collection
list01  = [
    [10,20,30],
    [40,40,50],
    [70,80,90],
]
df = pd.DataFrame(list01)  # 밑에서 작업하려면 변수 df 에 넣어 메모리에 저장

### 데이터 프레임에서 값 추출하기

In [ ]:
# 열(column) 기준으로 추출하기 : 0번 열의 데이터 추출하기 (slicing -  start : stop+1  ) . panas의 출력은 인덱스(0,1,2)가 보임 = series
df.loc[:,0]

0    10
1    40
2    70
Name: 0, dtype: int64

In [8]:
# 열(column) 기준으로 추출하기 : 0,1번 열의 데이터 추출하기
df.loc[:,[0,1]] # index를 사용한 추출
df.loc[:,0:1] # slicing을 사용한 추출

    0   1
0  10  20
1  40  40
2  70  80

In [12]:
# 범위를 정해 행(row) 기준으로 추출하기 
df.loc[0,:]
df.loc[0:1.:]

    0   1   2
0  10  20  30
1  40  40  50

In [26]:
# 특정 위치의 값만 추출하기
print(df.loc[1,2])
print(df.loc[1:2,1][2])

50
80

----
### Series
    - pandas에서 사용하는 기본 데이터
    - 데어터프레임을 정의할때는 1차원 리스트로 전달
    - index 자동생성

In [28]:
# series

list01 = [1,2,3]
s1 = pd.Series(list01) # series는 1차원 리스트
print(s1[1]) # 1차원데이터이므로 열과 행이 없고 안에 ,나 []  없음

2

----
### Dictionary{key:value} 로 DataFrame만들기

- Data는 Scalar (a=1), vector ( a = 1,2,3) 타입이 있다

In [37]:
dic01 ={
    "weight" :  [ '80', 70.4, 65.5, 45.9,51.2],
    "height"  : [170, 180, 155, 143,154],
    "type" : ['f','n','n','t','t']
}
tb1 = pd.DataFrame(dic01)

In [ ]:
tb1.info()
# weight 처음에 '80'으로 표기해서 weight는 모든 데이터가 string으로 인식하게됨. 정수와 실수를 함께 넣으면 정수도 실수로 표시된다. info로 Dtype을 볼것 (object=String)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   weight  5 non-null      object
 1   height  5 non-null      int64
 2   type    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes

In [ ]:
# weight 열만 추출
tb1.loc[:,'weight']  #  열이 문자가 들어갔으므로 문자로 바뀌어서 '이름'으로 불러와야함 index가 아닌 string 예를 들어 0 1 2 ㄴsum 이렇게 column이 되면 0 1 2도 문자로 인식 '0' 이렇게 해야

0      80
1    70.4
2    65.5
3    45.9
4    51.2
Name: weight, dtype: object

In [43]:
tb1.columns

Index(['weight', 'height', 'type'], dtype='object')